var filter = {
  getHeight: function (nowHeight, maxHeight) {
    return (parseInt(nowHeight) / parseInt(maxHeight)) * 300
  },
  hasEle: function (arr, ele) {
    if (arr.indexOf(ele) > -1) {
      return true
    }
    return false
  },
  getIndex: function (arr, date) {
    return arr.indexOf(date)
  },
  dateRe:function(date){

  }, 
  format: function (date) {
    console.log(date)
    //console.log(new Date(date).getTime())
    //return new Date(date).getTime()
    
  },
  hasHttp: function (str) {
    if(str.indexOf('http') > -1) {
      return true
    }
    return false
  }
}

module.exports = {
  getHeight: filter.getHeight,
  hasEle: filter.hasEle,
  hasHttp: filter.hasHttp,
  getIndex: filter.getIndex
}